@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm class này để tạo nền chấm bi cho đẹp (tùy chọn) */
.bg-dot-pattern {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}